<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>

      <a href="index.html" class="navbar-brand">浅喜<span>.</span>CASACHY</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-nav-first">
        <li><a href="index.html" data-i18n="nav.home">ホーム</a></li>
        <li><a href="about.html" data-i18n="nav.about">浅喜について</a></li>
        <li><a href="wares.html" data-i18n="nav.wares">Casachy Wares</a></li>
        <li><a href="#menu" class="smoothScroll" data-i18n="nav.furniture">浅喜家具</a></li>
        <li><a href="#contact" class="smoothScroll" data-i18n="nav.contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span data-i18n="nav.call">Call Now!</span> <i class="fa fa-phone"></i> 090-9873-2131</a></li>
      </ul>
    </div>

  </div>
</section>
